{% extends "layout.html" %}

{% block content %}
<h1>Hello to my site B)</h1>
    
<table class="db">
    <tr class="db_row">
        <th class="db_cell">Student's name</th>
        <th class="db_cell">Where are they now?</th>
        <th class="db_cell">What's their class?</th>
    </tr>
    {% for acc in accounts %}
    <tr class="db_row">
        <td class="db_cell">{{acc.username}}</th>
            {% if student.State == 'OutOfSchool' %}
        <td class="db_cell">Out of school</th>
            {% else%}
        <td class="db_cell">In school</th>
            {% endif %}
        <td class="db_cell">{{student.Headteacher}}</th>
    </tr>
    {% endfor %}
</table>
{%endif%}
{% endblock %}